<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="MainTest">

    <listeners>
        <listener class-name="util.ScreenshotListener"/>
    </listeners>
    <test name="MainTest" parallel="false">
        <classes>
            <class name="UiTest">
                <methods>
                    <include name="checkSearchResults"/>
                </methods>
            </class>
        </classes>
    </test>
</suite>